<div class="preloaderConsulta" *ngIf="isloading">
    <div class="spinConsulta">
        <div class="cube1Consulta"></div>
        <div class="cube2Consulta"></div>
    </div>
</div>
<p-card header="Parametros Home">

    <button pButton pRipple icon="pi pi-pencil" class="boton__derecho p-button-rounded p-button-success p-mr-2" [routerLink]="['/admin/parameters-edit/',this.idParametros]"></button>

    <!-- <div class="container-fluid">

        <div class="row" style="margin: 10px;">
            <div class="col-md-3">
                <label for="Nombre"> Texto Principal:</label>
            </div>
            <div class="col-md-9">
                {{this.textoBanner}}
            </div>
        </div>

        <div class="row" style="margin: 10px;">
            <div class="col-md-3">
                <label for="Nombre"> Mensaje Puntos de Venta:</label>
            </div>
            <div class="col-md-9">
                {{ this.mensajePuntosVenta}}
            </div>
        </div>
        <div class="row" style="margin: 10px;">
            <div class="col-md-3">
                <label for="Nombre"> Frases Footer Izquierda:</label>
            </div>
            <div class="col-md-9">
                {{this.fraseFooter}}</div>
        </div>
        <div class="row" style="margin: 10px;">
            <div class="col-md-3">
                <label for="Nombre"> Titulo Servicio:</label>
            </div>
            <div class="col-md-9">
                {{this.tituloServicios}}
            </div>
        </div>
        <div class="row" style="margin: 10px;">
            <div class="col-md-3">
                <label for="Nombre"> Servicio Item 1:</label>
            </div>
            <div class="col-md-9">
                {{this.servicio1}}
            </div>
        </div>
        <div class="row" style="margin: 10px;">
            <div class="col-md-3">
                <label for="Nombre"> Servicio Item 2:</label>
            </div>
            <div class="col-md-9">
                {{this.servicio2}}
            </div>
        </div>
        <div class="row" style="margin: 10px;">
            <div class="col-md-3">
                <label for="Nombre"> Servicio Item 3:</label>
            </div>
            <div class="col-md-9">
                {{this.servicio3}}
            </div>
        </div>
        <div class="row" style="margin: 10px;">
            <div class="col-md-3">
                <label for="Nombre"> Servicio Item 4:</label>
            </div>
            <div class="col-md-9">
                {{this.servicio4}}
            </div>
        </div>
        <div class="row" style="margin: 10px;">
            <div class="col-md-3">
                <label for="Nombre"> Servicio Item 5:</label>
            </div>
            <div class="col-md-9">
                {{this.servicio5}}

            </div>
        </div>
        <div class="row" style="margin: 10px;">
            <div class="col-md-3">
                <label for="Nombre"> Título Información:</label>
            </div>
            <div class="col-md-9">
                {{this.tituloInformacion}} </div>
        </div>
        <div class="row" style="margin: 10px;">
            <div class="col-md-3">
                <label for="Nombre"> Teléfono:</label>
            </div>
            <div class="col-md-9">
                {{this.telefono}} </div>
        </div>
        <div class="row" style="margin: 10px;">
            <div class="col-md-3">
                <label for="Nombre"> Celular:</label>
            </div>
            <div class="col-md-9">
                {{this.celular}} </div>
        </div>
        <div class="row" style="margin: 10px;">
            <div class="col-md-3">
                <label for="Nombre"> Correo 1:</label>
            </div>
            <div class="col-md-9">
                {{this.correo1}} </div>
        </div>
        <div class="row" style="margin: 10px;">
            <div class="col-md-3">
                <label for="Nombre"> Correo 2:</label>
            </div>
            <div class="col-md-9">
                {{this.correo2}} </div>
        </div>
        <div class="row" style="margin: 10px;">
            <div class="col-md-3">
                <label for="Nombre"> Dirección:</label>
            </div>
            <div class="col-md-9">
                {{this.direccion}} </div>
        </div>


        <div class="row" style="margin: 10px;">
            <div class="col-md-2">
                <label for="Nombre">Foto 1 Banner:</label>
            </div>
            <div class="col-md-2">

                <img src="{{this.urlFotoBanner1}}" alt="" width="100px" height="130px" class="p-shadow-4" />
            </div>
            <div class="col-md-2">
                <label for="Nombre">Foto 2 Banner:</label>
            </div>
            <div class="col-md-2">

                <img src="{{this.urlFotoBanner2}}" alt="" width="100px" height="130px" class="p-shadow-4" />
            </div>
            <div class="col-md-2">
                <label for="Nombre">Foto 3 Banner:</label>
            </div>
            <div class="col-md-2">

                <img src="{{this.urlFotoBanner3}}" alt="" width="100px" height="130px" class="p-shadow-4" />
            </div>
        </div>




    </div> -->
    <div class="slider__content">
        <div class="slider__kaleth">

            <input type="radio" name="slider-1" id="radio-1" checked>
            <input type="radio" name="slider-1" id="radio-2">
            <input type="radio" name="slider-1" id="radio-3">


            <div class="card__kaleth">
                <label class="imgcard1" for="radio-1" id="card-1" class="cardd">
                    <img src="{{this.urlFotoBanner1}}" alt="">
                </label>
                <label class="imgcard2" for="radio-2" id="card-2" class="cardd">
                    <img src="{{this.urlFotoBanner2}}" alt="">
                </label>
                <label class="imgcard3" for="radio-3" id="card-3" class="cardd">
                    <img src="{{this.urlFotoBanner3}}" alt="">
                </label>
            </div>


        </div>

    </div>
    <div class="kaleth__logo--contenido">
        <div class="col-md-6">
            <div class="img__contenido">

                <img src="../../../assets/img/KALETH.png" class="img__contenido--contenido" alt="logo kaleth">
            </div>
        </div>
        <div class="col-md-6">
            <div class="contenido__kaleth">

                {{this.textoBanner}}

            </div>


        </div>
    </div>




    <section id="team" class="team-area pt-100">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section-title text-center pb-25 content-top">
                        <h1>Locales Físicos</h1>
                        <p>{{this.mensajePuntosVenta}}</p>
                    </div>
                    <!-- section title -->
                </div>
            </div>
            <!-- row -->
            <div class="row justify-content-center">




            </div>
            <!-- row -->
        </div>
        <!-- container -->
    </section>
    <!-- Edición contenido conocenos -->
    <div class="contentFooter">



        <h3 class="conocenos">CONÓCENOS</h3>
        <h3 class="quienesSomos">¿Quiénes Somos?</h3>
        <label class="quienesSomosTexto">{{this.conocenos}}</label>
        <div class="contenedor">
            <div class="claseMision">
                <h3>Misión</h3>
                <label>{{this.mision}}</label>
            </div>
            <div class="claseVision">
                <h3>Visión</h3>
                <label class="claseVisionlabel">{{this.vision}}</label>
            </div>



        </div>
    </div>
    <!-- fin edición parte de conocenos -->
    <!--====== FOOTER PART START ======-->
    <!-- fOOTER -->

    <section id="about" class="footer-area">
        <div class="container-fluid">
            <div class="footer-widget pt-75 pb-120">
                <div class="row">
                    <div class="col-lg-3 col-md-5 col-sm-7">
                        <div class="footer-logo mt-40">
                            <a href="#">
                                <img src="../../../assets/img/KALETH.png" alt="Logo" width="200px">
                            </a>
                            <p class="mt-10">{{this.fraseFooter}}</p>
                            <ul class="footer-social mt-25">
                                <li><a href="#"><i class="lni-facebook-filled"></i></a></li>
                                <li><a href="#"><i class="lni-twitter-original"></i></a></li>
                                <li><a href="#"><i class="lni-instagram"></i></a></li>
                                <li><a href="#"><i class="fab fa-whatsapp"></i></a></li>
                            </ul>
                        </div>
                        <!-- footer logo -->
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-5">
                        <div class="footer-link mt-50">
                            <h5 class="f-title">{{this.tituloServicios}}</h5>
                            <ul>
                                <li><a href="#">{{this.servicio1}}</a></li>
                                <li><a href="#">{{this.servicio2}}</a></li>
                                <li><a href="#">{{this.servicio3}}</a></li>
                                <li><a href="#">{{this.servicio4}}</a></li>
                                <li><a href="#">{{this.servicio5}}</a></li>

                            </ul>
                        </div>
                        <!-- footer link -->
                    </div>

                    <div class="col-lg-4 col-md-5 col-sm-7">
                        <div class="footer-info mt-50">
                            <h5 class="f-title">{{this.tituloInformacion}}</h5>
                            <ul>
                                <li>
                                    <div class="single-footer-info mt-20">
                                        <span>Teléfono :</span>
                                        <div class="footer-info-content">
                                            <p>{{this.telefono}}</p>
                                            <p>{{this.celular}}</p>
                                        </div>
                                    </div>
                                    <!-- single footer info -->
                                </li>
                                <li>
                                    <div class="single-footer-info mt-20">
                                        <span>Correo :</span>
                                        <div class="footer-info-content">
                                            <p>{{this.correo1}}</p>
                                            <p>{{this.correo2}}</p>
                                        </div>
                                    </div>
                                    <!-- single footer info -->
                                </li>
                                <li>
                                    <div class="single-footer-info mt-20">
                                        <span>Dirección:</span>
                                        <div class="footer-info-content">
                                            <p>{{this.direccion}}</p>
                                        </div>
                                    </div>
                                    <!-- single footer info -->
                                </li>
                            </ul>
                        </div>
                        <!-- footer link -->
                    </div>
                </div>
                <!-- row -->
            </div>
            <!-- footer widget -->
            <div class="footer-copyright pt-15 pb-15">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="copyright text-center">
                            <p></p>
                        </div>
                        <!-- copyright -->
                    </div>
                </div>
                <!-- row -->
            </div>
            <!--  footer copyright -->
        </div>
        <!-- container -->
    </section>

    <!--====== FOOTER PART ENDS ======-->

    <!--====== BACK TO TOP PART START ======-->

    <a href="#" class="back-to-top"><i class="lni-chevron-up"></i></a>
</p-card>