<div class="content">
    <a type="button" class="btn btn-success" routerLink="/client-add">Ingresar nuevo Cliente</a>
</div>
<div class="content" >
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Cedula</th>
            <th scope="col">Direccion</th>
            <th scope="col">Email</th>
            <th scope="col">Telefono</th>
            <th scope="col">Elimnar</th>
            <th scope="col">Actualizar</th>
          </tr>
        </thead>
        <tbody *ngFor="let cliente of client">
            <tr>
                <td>{{cliente.id_cliente}}</td>
                <td>{{cliente.nombrecliente}}</td>
                <td>{{cliente.apellidocliente}}</td>
                <td>{{cliente.cedulacliente}}</td>
                <td>{{cliente.direccioncliente}}</td>
                <td>{{cliente.email}}</td>
                <td>{{cliente.telefono}}</td>
            
                <td><button type="button" class="btn btn-danger" (click)="deleteCliente(cliente.id_cliente)" >Eliminar</button></td>
                <td><button type="button" class="btn btn-dark" [routerLink]="['/client-edit/',cliente.id_cliente]"> Actualizar Usuarios</button></td>
              </tr>
          </tbody>
      </table> 
</div>

