<div class="container-fluid">
    <form>
        <div class="form-group">
          <label for="nombre">Nombre de la medida</label>
          <input type="text" class="form-control" [(ngModel)]="tallas.medida" id="medida" name="medida" placeholder="Nombre de la Categoria">
          <input type="text" class="form-control" [(ngModel)]="tallas.descripcion" id="descripcion" name="descripcion" placeholder="Desripcion">
          <input type="text" class="form-control" [(ngModel)]="tallas.tipo" id="tipo" name="tipo" placeholder="tipo">

        </div>
       <div class="form-group">
           <button  class="btn btn-primary" (click)="edit ? updateTallas() : saveTallas()">Agregar Talla</button>
           <button type="button" class="btn btn-info" routerLink="/size">Regresar</button>
       </div>
     
    </form>
  </div>

