

<div class="card">
    <div class="header titulo">
        
            <div class="tittle__izq p-d-inline-flex p-ai-center">
                <i class="fas fa-file-pdf">
                </i>
                <b>Lista de las facturas </b> 
            </div>      
            <input type="text" [(ngModel)]="this.i">
            <input type="text" [(ngModel)]="this.f">
            <button (click)="getfacturaFecha()" class="boton__dere btn btn-primary">Consultar</button>
            <button (click)="imprimirfacturaFecha()" class="boton__dere btn btn-primary">Imprimir</button>

    </div>
            

    <p-table #dt2 [value]="facturafecha" [responsive]="true" selectionMode="single" [(selection)]="selectedFactura" dataKey="id" styleClass="p-datatable-responsive"
        [rows]="10" [paginator]="true" stateStorage="local" stateKey="statedemo-local">
        <ng-template pTemplate="header">
            <tr>
                <th class="card__word--header" >Numero de Factura         
                </th>
                <th class="card__word--header">Fecha Venta
                </th>
                <th class="card__word--header">Total de Venta
                </th>
                <th class="card__word--header">Estado
                </th>
                <th class="card__word--header">Cajero
                </th>
                <th class="card__word--header">Cliente
                </th>  
            </tr>
      
        </ng-template>
        <ng-template pTemplate="body" let-factura>
            <tr [pSelectableRow]="factura">
                <td class="card__word--row">
                    <span class="p-column-title">Numero de Factura</span>
                    {{factura.idCabezaFac}}
                </td>
                <td class="card__word--row">
                    <span class="p-column-title">Fecha Venta</span>
                    {{factura.fechaFactu}}
                </td>
                <td class="card__word--row">
                    <span class="p-column-title">Total de Venta</span>
                    {{factura.total}}
                </td >
                <td class="card__word--row">
                    <span class="p-column-title">Estado</span>
                    {{factura.estado}}
                </td >
                <td class="card__word--row">
                  <span class="p-column-title">Cajero</span>
                  {{factura.usUser.nombre}} {{factura.usUser.apellido}}
                </td>
                <td class="card__word--row">
                  <span class="p-column-title">Cliente</span>
                  {{factura.venCliente.nombreCli}} {{factura.venCliente.apellidoCli}}
                </td>
                
                <!-- <td class="card__word--row">
                    <span class="p-column-title">Opciones</span>
                    <button pButton pRipple icon="pi pi-trash" 
                  class="p-button-rounded p-button-warning"             
                   (click)="deleteUsuarios(usuarios.idUsuario)" ></button>
                  
                   <button pButton pRipple icon="pi pi-pencil" class="boton__derecho p-button-rounded p-button-success p-mr-2"  [routerLink]="['/admin/user-edit/',usuarios.idUsuario]"></button>
                </td> -->


            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="4">No encontro Usuarios</td>
            </tr>
        </ng-template>
    </p-table>
</div>