<!-- <h1>{{actualizar}} Rol</h1> -->
<p-card header="{{actualizar}} Rol">
<div class="container-fluid">
    <form>
        <div class="form-group">
          <label for="nombre">Nombre del Rol</label>
          <input type="text" class="form-control" [(ngModel)]="rol.nombre" id="nombre" name="nombre" placeholder="Nombre del Rol">
        </div>
        <div class="form-group">
          <label for="descripcion">Descripcion</label>
          <input type="text" class="form-control" [(ngModel)]="rol.descripcion" id="descripcion" name="descripcion" placeholder="Descripcion">
        </div>
        <div class="form-group">
            <label for="rol">Rol</label>
            <input type="text" class="form-control" [(ngModel)]="rol.rol"  id="rol" name="rol" placeholder="Rol">
        </div>
       <div class="form-group">
           
           <button  class="btn btn-primary" (click)="edit ? updateRol() : saveRol()">Aceptar</button>
           <button type="button" class="btn btn-info" routerLink="/admin/rol">Regresar</button>
       </div>
     
    </form>
  </div>
</p-card>