
<p-card header="{{actualizar}} Rol">
<div class="container-fluid">
    <div class="row filainput"> 
        <div class="form-group">
          <label for="Nombre Rol" class="col-sm-2 col-form-label"> </label>
              <span class="p-float-label">
                <input type="text" pInputText class="form-control" [(ngModel)]="rol.nombre" id="nombrerol" name="nombrerol">
                <label for="float-input">Nombre del Rol: </label>
              </span>
        </div>
    </div>
    <div class="row filainput">
        <div class="form-group">
          <label for="Descripcion" class="col-sm-2 col-form-label"> </label>
              <span class="p-float-label">
                <input type="text" pInputText class="form-control"  [(ngModel)]="rol.descripcion" id="descripcion" name="descripcion">
                <label for="float-input">Descripcion</label>
              </span>
           </div>
    </div>
    <div class="row filainput"> 
        <div class="form-group">
          <label for="Rol" class="col-sm-2 col-form-label"> </label>
              <span class="p-float-label">
                <input type="text" pInputText class="form-control"  [(ngModel)]="rol.rol"  id="rol" name="rol">
                <label for="float-input">Rol</label>
              </span>
            <!-- <label for="rol">Rol</label>
            <input type="text" class="form-control" [(ngModel)]="rol.rol"  id="rol" name="rol" placeholder="Rol"> -->
        </div>
    </div>
    <div class="row">
       <div class="form-group">
           
           <button  class="btn btn-primary" (click)="edit ? updateRol() : saveRol()">Aceptar</button>
           <button type="button" class="btn btn-info" routerLink="/admin/rol">Regresar</button>
       </div>
    </div>
  </div>
</p-card>