<div class="preloaderConsulta" *ngIf="isloading">
    <div class="spinConsulta">
        <div class="cube1Consulta"></div>
        <div class="cube2Consulta"></div>
    </div>
</div>


<div class="header-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <nav class="navbar navbar-expand-lg">
                    <a class="navbar-brand" [routerLink]="">
                        <img class="logo--logo" src="../../../assets/img/KALETH.png" width="200px" alt="Logo">
                    </a>


                    <!-- Logo -->
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="bar-icon"></span>
                        <span class="bar-icon"></span>
                        <span class="bar-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul id="nav" class="navbar-nav ml-auto">

                            <li class="nav-item">
                                <a data-scroll-nav="0" href="#product">Tienda</a>
                            </li>


                            <li class="nav-item">
                                <a data-scroll-nav="0" href="#team">Puntos de Venta</a>
                            </li>


                            <li class="nav-item">
                                <a data-scroll-nav="0" href="#about">Acerca de Nosotros</a>
                            </li>
                            <li class="nav-item" *ngIf="activarButton">
                                <a [routerLink]="['/login']" routerLinkActive="router-link-active">Entrar|Registarse</a>
                            </li>
                            <li class="nav-item" *ngIf="activarSesion">
                                <a pTooltip="{{usuariologeadosesion}}" [routerLink]="" routerLinkActive="router-link-active" (click)="closesesion()">
                                    <i class="far fa-user-circle"></i>Cerrar Sesión</a>
                            </li>
                        </ul>


                        <div class="cart box_1">
                            <a (click)="ShowCarrito()">
                                <h3>
                                    <div class="total">
                                        <span>$ {{this.valorTotalCarrito}}</span>
                                    </div>
                                    <img src="../../../assets/images/cart.png" alt="" />
                                </h3>
                            </a>
                            <p>Ver Productos</p>

                        </div>

                        <div class="clearfix"> </div>



                        <!-- navbar nav -->
                    </div>
                </nav>
                <!-- navbar -->
            </div>

        </div>
        <!-- row -->
    </div>
    <!-- container -->
</div>

<!--====== HEADER PART ENDS ======-->

<!--====== SLIDER PART START ======-->
<div *ngIf="mostrarInicio">
    <!-- <link rel="stylesheet" href="../../../assets/js/slick.min.js" type="text/javascript"> -->


    <div class="container-fluid slider__kaleth">
        <div class="col-md-6">

            <div class="contenido__kaleth">
                {{this.textoBanner}}
                <div class="footer-logo mt-40">
                    <ul class="footer-social mt-25">
                        <li><a href="#"><i class="lni-facebook-filled"></i></a></li>
                        <li><a href="#"><i class="lni-twitter-original"></i></a></li>
                        <li><a href="#"><i class="lni-instagram"></i></a></li>
                        <li><a href="#"><i class="fab fa-whatsapp"></i></a></li>
                    </ul>
                </div>
            </div>


        </div>
        <div class="col-md-6 img__sliderkaleth">
            <div class="slider__efect">
                <ul>
                    <li>
                        <img class="img__slider" src="{{this.urlFotoBanner1}}" alt="">
                    </li>
                    <li>
                        <img class="img__slider" src="{{this.urlFotoBanner2}}" alt="">
                    </li>
                    <li>
                        <img class="img__slider" src="{{this.urlFotoBanner3}}" alt="">
                    </li>
                </ul>
            </div>



            <div class="slick__slideritem">
                <div class="slick__slider"></div>
                <div class="slick__slider"></div>
                <div class="slick__slider"></div>
            </div>
        </div>




    </div>

    <section id="product" class="team-area pt-100">
        <div class="content">
            <div class="container-fluid">

                <div class="content-top">
                    <h1>Tienda</h1>
                    <p-paginator [first]="1" [rows]="1" [totalRecords]="cantidadExistente" (onPageChange)="paginate($event)" [showJumpToPageDropdown]="true" [showPageLinks]="false">
                    </p-paginator>
                    <div class="content-top1" *ngFor="let stocks of stock; let i=index">
                        <div class="col-md-3 col-md2">



                            <div class="tarjeta">
                                <div class="tarjeta__imagen">
                                    <img src="{{stocks.catProducto.catDiseno.urlFoto}}" alt="{{stocks.catProducto.catCategoria.nombreCategoria}} - 
                                    {{stocks.catProducto.catDiseno.nombre}}">
                                    <a (click)="showDialogImagenes(stocks)" [routerLink]="" routerLinkActive="router-link-active"><i class="far fa-eye"></i></a>
                                </div>
                                <div class="row tarjeta__contenido--boton">
                                    <div class="col-md-12 ">
                                        <button pButton class="boton--center p-button-rounded p-button-danger p-button-sm" [disabled]="stocks.cantidad <=0" type="button" icon="fa fa-cart-plus" iconPos="left" (click)="Agregar(stocks)"></button>
                                    </div>
                                </div>
                                <div class="tarjeta__contenido">
                                    <div>
                                        <h3>
                                            {{stocks.catProducto.catCategoria.nombreCategoria}} - {{stocks.catProducto.catDiseno.nombre}}

                                        </h3>

                                    </div>

                                    <div class="container-fluid tarjeta__contenido--detalle">
                                        <div class="row">
                                            <div class="col-md-12 talla">

                                                Talla: {{stocks.catProducto.catTalla.medida}}

                                            </div>

                                        </div>



                                        <div class="row">
                                            <div class="col-md-12 texto1">
                                                ${{stocks.precioUnit}}

                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="tarjeta__contenido2">


                                    <div [ngClass]="{'badgeoutofstock': stocks.cantidad <= 0, 'badgeinstock': stocks.cantidad >=1 }">
                                        <span class="titulo__status--stock"></span>

                                    </div>


                                </div>
                            </div>
                            <div *ngIf="i==3||i==7||i==11">

                                <div class="content-top1">
                                    <div class="col-md-3 col-md2">
                                        <h1></h1>
                                    </div>


                                    <div class="clearfix"> </div>

                                </div>
                            </div>


                        </div>

                    </div>

                    <!-- AQUI -->
                </div>
            </div>
        </div>
    </section>


    <section id="team" class="team-area pt-100">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section-title text-center pb-25 content-top">
                        <h1>Locales Físicos</h1>
                        <p>{{this.mensajePuntosVenta}}</p>
                    </div>
                    <!-- section title -->
                </div>
            </div>
            <!-- row -->
            <div class="row justify-content-center">


                <div class="col-lg-4 col-md-6 col-sm-8" *ngFor="let puntosVenta of puntosVentas; let i=index">
                    <div class="single-temp text-center mt-30">
                        <div class="team-image">

                            <!-- <iframe src="{{this.urlSafe}}" style="border:0;" allowfullscreen="" loading="lazy"></iframe> -->
                        </div>
                        <div class="team-content mt-30">
                            <h4 class="title mb-10" *ngIf="i==0"><a href="#">Local Principal</a></h4>
                            <h4 class="title mb-10" *ngIf="i>0"><a href="#">Local Secundario</a></h4>


                            <span>{{puntosVenta.nombreLocal}}</span>
                            <span>{{puntosVenta.direccion}}</span>
                            <span>{{puntosVenta.telefono}}</span>
                        </div>
                    </div>
                    <!-- single temp -->
                </div>

            </div>
            <!-- row -->
        </div>
        <!-- container -->
    </section>

    <!--====== FOOTER PART START ======-->

    <section id="about" class="footer-area">
        <div class="container-fluid">
            <div class="footer-widget pt-75 pb-120">
                <div class="row">
                    <div class="col-lg-3 col-md-5 col-sm-7">
                        <div class="footer-logo mt-40">
                            <a href="#">
                                <img src="../../../assets/img/KALETH.png" alt="Logo" width="200px">
                            </a>
                            <p class="mt-10">{{this.fraseFooter}}</p>
                            <ul class="footer-social mt-25">
                                <li><a href="#"><i class="lni-facebook-filled"></i></a></li>
                                <li><a href="#"><i class="lni-twitter-original"></i></a></li>
                                <li><a href="#"><i class="lni-instagram"></i></a></li>
                                <li><a href="#"><i class="fab fa-whatsapp"></i></a></li>
                            </ul>
                        </div>
                        <!-- footer logo -->
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-5">
                        <div class="footer-link mt-50">
                            <h5 class="f-title">{{this.tituloServicios}}</h5>
                            <ul>
                                <li><a href="#">{{this.servicio1}}</a></li>
                                <li><a href="#">{{this.servicio2}}</a></li>
                                <li><a href="#">{{this.servicio3}}</a></li>
                                <li><a href="#">{{this.servicio4}}</a></li>
                                <li><a href="#">{{this.servicio5}}</a></li>

                            </ul>
                        </div>
                        <!-- footer link -->
                    </div>

                    <div class="col-lg-4 col-md-5 col-sm-7">
                        <div class="footer-info mt-50">
                            <h5 class="f-title">{{this.tituloInformacion}}</h5>
                            <ul>
                                <li>
                                    <div class="single-footer-info mt-20">
                                        <span>Teléfono :</span>
                                        <div class="footer-info-content">
                                            <p>{{this.telefono}}</p>
                                            <p>{{this.celular}}</p>
                                        </div>
                                    </div>
                                    <!-- single footer info -->
                                </li>
                                <li>
                                    <div class="single-footer-info mt-20">
                                        <span>Correo :</span>
                                        <div class="footer-info-content">
                                            <p>{{this.correo1}}</p>
                                            <p>{{this.correo2}}</p>
                                        </div>
                                    </div>
                                    <!-- single footer info -->
                                </li>
                                <li>
                                    <div class="single-footer-info mt-20">
                                        <span>Dirección:</span>
                                        <div class="footer-info-content">
                                            <p>{{this.direccion}}</p>
                                        </div>
                                    </div>
                                    <!-- single footer info -->
                                </li>
                            </ul>
                        </div>
                        <!-- footer link -->
                    </div>
                </div>
                <!-- row -->
            </div>
            <!-- footer widget -->
            <div class="footer-copyright pt-15 pb-15">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="copyright text-center">
                            <p></p>
                        </div>
                        <!-- copyright -->
                    </div>
                </div>
                <!-- row -->
            </div>
            <!--  footer copyright -->
        </div>
        <!-- container -->
    </section>

    <!--====== FOOTER PART ENDS ======-->

    <!--====== BACK TO TOP PART START ======-->

    <a href="#" class="back-to-top"><i class="lni-chevron-up"></i></a>
    <!-- </div> -->
    <!-- este div es el nuevo para cerrar desde el header -->
</div>
<!-- <div *ngIf="mostrarCarrito">
    <div class="container">
        <div class="check-out">
            <h1>Carrito</h1>
            <a (click)="ShowInicio()" class="to-buy">Seguir Comprando</a>
            <app-carrito [dataentrante]="listaDetallePedido"></app-carrito>
        </div>
    </div>

</div> -->




<div *ngIf="mostrarCarrito">
    <p-card>
        <div class="titulo__carrito">

            <div class="tittle__izq">
                <i class="fa fa-tag p-mr-2">
            </i>
                <b>Carrito Kaleth</b>
            </div>

        </div>
        <button pButton pRipple type="button" icon="pi pi-angle-double-left" label="Seguir comprando" class="p-button-rounded p-button-danger" (click)="ShowInicio()"> </button>

        <p-table #dt2 [value]="listaCheckout" [responsive]="true" selectionMode="single" dataKey="id" styleClass="p-datatable-responsive" [rows]="10" [paginator]="true" stateStorage="local" stateKey="statedemo-local">
            <ng-template pTemplate="header">
                <tr>
                    <th class="card__word--header">Items
                    </th>
                    <th class="card__word--header">Productos
                    </th>
                    <th class="card__word--header">Precios
                    </th>
                    <th class="card__word--header">Cantidad
                    </th>
                    <th class="card__word--header">Detalles
                    </th>
                    <th class="card__word--header">Subtotal
                    </th>
                    <th class="card__word--header">Eliminar
                    </th>

                </tr>

            </ng-template>
            <ng-template pTemplate="body" let-listacarrito>
                <tr [pSelectableRow]="listacarrito">
                    <td class="card__word--row">
                        <span class="p-column-title">Items</span>
                        <img src="{{listacarrito.catProducto.catDiseno.urlFoto}}" width="100px" height="120px">

                    </td>
                    <td class="card__word--row">
                        <span class="p-column-title">Producto</span>
                        <h5>{{listacarrito.catProducto.catCategoria.nombreCategoria}}</h5>
                        <p> {{listacarrito.descripcion}} </p>
                    </td>
                    <td class="card__word--row">
                        <span class="p-column-title">Precios</span> {{listacarrito.valorUnit}}
                    </td>
                    <td class="card__word--row">
                        <span class="p-column-title">Cantidad</span>
                        <p-inputNumber [(ngModel)]="listacarrito.cantidadPe" width="100px" (onInput)="obtenerCantidad(listacarrito.cantidadPe, listacarrito.catProducto.idProductos, listacarrito.catPuntosVenta.idPuntosVenta)" [showButtons]="true" inputId="minmax-buttons" [min]="0"
                            [max]="100"></p-inputNumber>
                        <!-- <input type="number" class="p-inputtext-sm" placeholder="Small" pInputText > -->
                    </td>
                    <td class="card__word--row">
                        <span class="p-column-title">Detalles</span> Envio Acordar con el administrador
                    </td>
                    <td class="card__word--row">
                        <span class="p-column-title">Subtotal</span> {{listacarrito.valorTotal}}
                    </td>


                    <td class="card__word--row">
                        <span class="p-column-title">Opciones</span>
                        <button pButton pRipple icon="fa fa-trash" class="boton__derecho p-button-rounded p-button-danger p-mr-2" (click)="quitardelista(listacarrito.catProducto.idProductos, listacarrito.catPuntosVenta.idPuntosVenta)"></button>
                    </td>


                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                <div class="container-fluid">

                    <div class="row">
                        <div class="col-md-2">
                            <button pButton pRipple type="button" icon="pi pi-check-circle" label="Generar Pedido" class="p-button-rounded p-button-success" (click)="generarPedido()"></button>

                        </div>
                        <!-- <div class="col-md-1">
                </div> -->
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-2">
                            <label id="lblTotal" for="lblTotal"></label>
                        </div>

                    </div>

                </div>

            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="4">No encontro Pedidos</td>
                </tr>
            </ng-template>
        </p-table>

    </p-card>


</div>


<p-dialog position="left" [(visible)]="displayImagenes">

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-7">


                <p-galleria [(value)]="images" [responsiveOptions]="responsiveOptions" [containerStyle]="{'max-width': '640px'}" [numVisible]="7" [circular]="true" [autoPlay]="true" [transitionInterval]="2000">
                    <ng-template pTemplate="item" let-item>
                        <img [src]="item.urlFoto" style=" width: 400px;height: 500px; display: block;" />
                    </ng-template>

                    <ng-template pTemplate="thumbnail" let-item>
                        <div class="p-grid p-nogutter p-justify-center">
                            <img [src]="item.urlFoto" style=" width: 100px;
                            height: 125px;display: block;" />
                        </div>
                    </ng-template>

                </p-galleria>
            </div>
            <div class="col-md-4">


                <div class="row">
                    <div class="col-md-12">

                        <div class="content-top">
                            <h1>Detalle del producto seleccionado</h1>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h3 style="text-align: justify; ">{{detalle}}</h3>
                        <p style="text-align: justify; ">{{detalle2}}</p>


                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="star-on">
                            <ul>
                                <li><a href="#"><i class="glyphicon glyphicon-star"> </i></a></li>
                                <li><a href="#"><i class="glyphicon glyphicon-star"> </i></a></li>
                                <li><a href="#"><i class="glyphicon glyphicon-star"> </i></a></li>
                                <li><a href="#"><i class="glyphicon glyphicon-star"> </i></a></li>
                                <li><a href="#"><i class="glyphicon glyphicon-star"> </i></a></li>
                            </ul>

                            <div class="clearfix"> </div>
                        </div>

                        <label class="add-to item_price">Precio: ${{precioModal}}</label>
                    </div>
                </div>


            </div>
        </div>
    </div>


</p-dialog>