<div class="content">
    <div class="container-fluid">
        <form>
            <!-- Categorias  -->
          <div class="form-control">
              <div class="input-group mb-3">
                <label class="input-group-text" for="categorias">Categoria</label> 
                  <select   class="js-example-placeholder-single js-states form-control" width="200px" height="300px" id="categorias" name="categorias"  data-width="75%" required >
                    <option  [attr.selected]="categoriaEscogida.idCategoria" [attr.value]="categoriaEscogida.idCategoria"></option>
                    <option   *ngFor="let categoria of categoria"  name="categoria" value="{{categoria.idCategoria}}" class="placeholder" >{{categoria.nombreCategoria}}</option>   
                  </select>
                </div>
          </div>
          <!-- Tallas -->
              <div class="form-control">
                 <div class="input-group mb-3">  
                        <label class="input-group-text" for="Tallas">Tallas</label>      
                        <select   class="js-example-placeholder-single js-states form-control"  id="tallas" name="tallas"  data-width="75%" required >
                          <option  [attr.selected]="tallasEscogida.idTallas" [attr.value]="tallasEscogida.idTallas"></option>
                          <option   *ngFor="let tallas of tallas"  name="tallas" value="{{tallas.idTallas}}" class="placeholder" >{{tallas.medida}}</option>   
                        </select>
                  </div>           
              </div>

              <!-- Disenos -->

              <div class="form-control">
                <div class="input-group mb-3">  
                       <label class="input-group-text" for="Disenos">Disenos</label>      
                       <select   class="js-example-placeholder-single js-states form-control"  id="disenos" name="disenos"  data-width="75%" required >
                         <option  [attr.selected]="disenosEscogida.idDisenos" [attr.value]="disenosEscogida.idDisenos"></option>
                         <option   *ngFor="let disenos of disenos"  name="disenos" value="{{disenos.idDisenos}}" class="placeholder" >{{disenos.nombre}}</option>   
                       </select>
                 </div>           
             </div>

           <div class="form-group">
               <button  class="btn btn-primary" (click)="edit ? updateProductos() : saveProductos()">Aceptar</button>
               <button type="button" class="btn btn-info" routerLink="/product">Regresar</button>
              
            </div>
        </form>
      </div>
</div>





