<div class="content">
    <a type="button" class="btn btn-success" routerLink="/civil-status-add">Ingresar un nuevo Genero</a>
</div>
<div class="content" >
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Elimnar</th>
            <th scope="col">Actualizar</th>
          </tr>
        </thead>
        <tbody *ngFor="let state of status">
            <tr>
                <td>{{state.id_estadocivil}}</td>
                <td>{{state.nombre}}</td>
                <td><button type="button" class="btn btn-danger" >Eliminar</button></td>
                <td><button type="button" class="btn btn-dark" [routerLink]="['/civil-status-edit/',state.id_estadocivil]"> Actualizar Rol</button></td>
              </tr>
          </tbody>
      </table> 
</div>

