/* #lblCedula {
    position: absolute;
    width: 45px;
    height: 14px;
    left: 18px;
    top: 98px;
}

#cedula {
    position: absolute;
    width: 303px;
    left: 94px;
    top: 82px;
}

#lblNombre {
    position: absolute;
    width: 49px;
    height: 14px;
    left: 401px;
    top: 99px;
}

#nombre {
    position: absolute;
    width: 214px;
    left: 483px;
    top: 78px;
}

#lblApellido {
    position: absolute;
    width: 55px;
    height: 14px;
    left: 705px;
    top: 95px;
}

#apellido {
    position: absolute;
    width: 322px;
    left: 770px;
    top: 78px;
}

#lblTelefono {
    position: absolute;
    width: 59px;
    height: 14px;
    left: 18px;
    top: 164px;
}

#telefono {
    position: absolute;
    width: 303px;
    left: 94px;
    top: 144px;
}

#lblCorreo {
    position: absolute;
    width: 46px;
    height: 14px;
    left: 401px;
    top: 164px;
}

#email {
    position: absolute;
    width: 214px;
    left: 483px;
    top: 144px;
}

#lblDireccion {
    position: absolute;
    width: 62px;
    height: 14px;
    left: 705px;
    top: 161px;
}

#lblCodidoPro {
    position: absolute;
    width: 44px;
    height: 14px;
    left: 18px;
    top: 233px;
}

#codigo {
    position: absolute;
    width: 115px;
    left: 94px;
    top: 216px;
}

#direccion {
    position: absolute;
    width: 322px;
    left: 770px;
    top: 144px;
}

#lblTotal {
    position: absolute;
    width: 217px;
    height: 84px;
    left: 1102px;
    top: 87px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 84px;
    color: #000000;
}

#lblDetalle {
    position: absolute;
    width: 50px;
    height: 14px;
    left: 225px;
    top: 233px;
}

#detalle {
    position: absolute;
    width: 416px;
    left: 281px;
    top: 216px;
}

#lblCantidad {
    position: absolute;
    width: 32px;
    height: 14px;
    left: 705px;
    top: 233px;
}

#lblCantidadDisponible {
    position: absolute;
    height: 14px;
    left: 705px;
    top: 260px;
    font-size: 40px;
    color: #000000;
}

#cantidad {
    position: absolute;
    width: 61px;
    left: 770px;
    top: 216px;
}

#lblPrecioUnit {
    position: absolute;
    left: 1079px;
    top: 233px;
}

#PrecioUnit {
    position: absolute;
    width: 61px;
    left: 1125px;
    top: 216px;
}

#lblPrecioMay {
    position: absolute;
    left: 838px;
    top: 233px;
}

#PrecioMay {
    position: absolute;
    width: 61px;
    left: 895px;
    top: 216px;
}

#lblPrecioDis {
    position: absolute;
    left: 966px;
    top: 233px;
}

#PrecioDis {
    position: absolute;
    width: 61px;
    left: 1012px;
    top: 216px;
}

#tablaFactura {
    position: absolute;
    width: 1168px;
    left: 18px;
    top: 345px;
}

#botonInsertarListaVenta {
    position: absolute;
    width: 188px;
    left: 21px;
    top: 287px;
}

#botonVender {
    position: absolute;
    width: 188px;
    left: 245px;
    top: 287px;
}

#lblTotalVenta {
    position: absolute;
    left: 931px;
    top: 820px;
}

#totalVenta {
    position: absolute;
    width: 188px;
    left: 998px;
    top: 804px;
} */

.boton__menu{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
.btn__size{
    
    margin-right: 1em;
}
@media (max-width: 600px) {
    .boton__menu {
        flex-direction: column;
    }
  }