
<div class="card">
  <div class="header">
      
          <div class="tittle__izq p-d-inline-flex p-ai-center">
              <i class="fa fa-tag p-mr-2">
              </i>
              <b>Lista de Productos</b> 
              <button pButton  type="button" class="boton__dere  p-button-rounded p-button-sm" routerLink="/admin/product-add">Nuevo</button>
          </div>      
        

  </div>
          

  <p-table #dt2 [value]="productos" [responsive]="true" selectionMode="single" [(selection)]="selectedProductos" dataKey="id" styleClass="p-datatable-responsive"
      [rows]="10" [paginator]="true" stateStorage="local" stateKey="statedemo-local">
      <ng-template pTemplate="header">
          <tr>
              <th class="card__word--header" >Categoria         
              </th>
              <th class="card__word--header">Medida/Talla
              </th>
              <th class="card__word--header">Diseños
              </th>
              <th class="card__word--header">Opciones
              </th>
              
              
          </tr>
    
      </ng-template>
      <ng-template pTemplate="body" let-productos>
          <tr [pSelectableRow]="productos">
              <td class="card__word--row">
                  <span class="p-column-title">Categoria</span>
                  {{productos.catCategoria.nombreCategoria}}
              </td>
              <td class="card__word--row">
                  <span class="p-column-title">Medida/Talla</span>
                  {{productos.catTalla.medida}}
              </td>
              <td class="card__word--row">
                <span class="p-column-title">Diseños</span>
                {{productos.catDiseno.nombre}}
            </td>
                       
              <td class="card__word--row">
                  <span class="p-column-title">Opciones</span>
                  <button pButton pRipple icon="pi pi-trash" 
                class="p-button-rounded p-button-warning"             
                 (click)="deleteProductos(productos.idProductos)" ></button>
                 <br>
                 <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" [routerLink]="['/admin/product-edit/',productos.idProductos]"></button>
              </td>


          </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
          <tr>
              <td colspan="4">No encontro Medidas</td>
          </tr>
      </ng-template>
  </p-table>
</div>



