
<p-card header="Asingar Rol">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <label for="Usuarios">Seleccione un Usuario</label>
      <p-dropdown [options]="nuevosUsuarios" [(ngModel)]="usuariosEscogidos" placeholder="Seleccionar un Usuario" optionLabel="nombre" [showClear]="true"></p-dropdown>

      </div>
      <div class="col-md-6">
        <label for="Usuarios">Seleccione un Rol</label>
      <p-dropdown [options]="roles" [(ngModel)]="rolesEscogidos" placeholder="Seleccionar un Rol" optionLabel="rol" [showClear]="true"></p-dropdown>
        
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <button  class="btn btn-primary" (click)="edit ? updateRolusuario() : saveRolusuario()">Aceptar</button>
      </div>
      <div class="col-md-6">
        <button type="button" class="btn btn-info" routerLink="/admin/rol-user">Regresar</button>
      </div>
    </div>
  </div>

</p-card>