@font-face {
    font-family: 'Montserrat-bold';
    src: url(../../../assets/fonts/Montserrat-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Montserrat-light';
    src: url(../../../assets/fonts/Montserrat-Light.ttf) format('truetype');
}

.p-card .ui-acordion {
    padding: 1rem;
    /* background: aqua; */
}

.diseno-formulario {
    width: 10px;
    height: 10px;
}

.diseno-formulario h5 {
    text-align: center;
    font-family: 'Montserrat-bold';
    font-size: 25pt;
}

.inputs__modal--register {
    margin-top: 10px;
}

.label__modal--register {
    margin-top: 10px;
    font-weight: bold;
}


/* edición para el diseño de inisio de sesion  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.login__content {
    position: relative;
    width: 37vw;
    height: 75vh;
    padding: 30px;
    margin: auto;
    margin-top: 4.8vh;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 5px #BFBFBF;
}

.imagen__logo {
    width: 50%;
}

.login__container--titulo {
    font-family: 'Montserrat-bold';
    margin-top: 9.6vh;
    margin-bottom: 9.6vh;
    text-align: center;
}

.login__container {
    width: 80%;
    margin-top: 10vh;
    margin-bottom: 9.6vh;
}

.controls {
    width: 31vw;
    height: 8vh;
    background: #BFBFBF;
    border-radius: 7px;
    border: 1px solid #BFBFBF;
}

.login__buttons {
    background-image: linear-gradient(#049696, #0F4365);
    font-family: 'Montserrat-bold';
    width: 110px;
    height: 35px;
}

.botonAlinear {
    text-align: center;
}

.alienarResgitrarse {
    text-align: center;
    font-family: 'Montserrat-light';
}

.registrarse {
    margin-top: 4.8vh;
    margin-bottom: 8vh;
    align-items: center;
    text-align: center;
}

.login__salir--button {
    position: absolute;
    top: 1.6vh;
    right: 0.7vw;
    font-size: 30px;
    background-color: transparent;
    color: red;
    font-family: 'Montserrat-bold';
    border: 0;
}

@media only screen and (max-width: 768px) {
    .login__content {
        position: relative;
        width: 300px;
        height: 75vh;
        padding: 30px;
        margin: auto;
        margin-top: 4.8vh;
        border-radius: 10px;
        box-shadow: 0px 0px 5px 5px #BFBFBF;
    }
}

@media only screen and (max-width: 768px) and (min-width: 600px) {
    .controls {
        width: 32vw;
        height: 8vh;
        background: #BFBFBF;
        border-radius: 7px;
        border: 1px solid #BFBFBF;
    }
    .login__content {
        position: relative;
        width: 40vw;
        height: 75vh;
        padding: 30px;
        margin: auto;
        margin-top: 4.8vh;
        border-radius: 10px;
        box-shadow: 0px 0px 5px 5px #BFBFBF;
    }
}

@media only screen and (max-width: 599px) and (min-width: 499px) {
    .controls {
        width: 40vw;
        height: 8vh;
        background: #BFBFBF;
        border-radius: 7px;
        border: 1px solid #BFBFBF;
    }
    .login__content {
        position: relative;
        width: 48vw;
        height: 75vh;
        padding: 30px;
        margin: auto;
        margin-top: 4.8vh;
        border-radius: 10px;
        box-shadow: 0px 0px 5px 5px #BFBFBF;
    }
}

@media only screen and (max-width: 498px) and (min-width: 471px) {
    .controls {
        width: 50vw;
        height: 8vh;
        background: #BFBFBF;
        border-radius: 7px;
        border: 1px solid #BFBFBF;
    }
    .login__content {
        position: relative;
        width: 60vw;
        height: 75vh;
        padding: 30px;
        margin: auto;
        margin-top: 4.8vh;
        border-radius: 10px;
        box-shadow: 0px 0px 5px 5px #BFBFBF;
    }
}

@media only screen and (max-width: 471px) and (min-width: 400px) {
    .controls {
        width: 55vw;
        height: 8vh;
        background: #BFBFBF;
        border-radius: 7px;
        border: 1px solid #BFBFBF;
    }
    .login__content {
        position: relative;
        width: 67vw;
        height: 75vh;
        padding: 30px;
        margin: auto;
        margin-top: 4.8vh;
        border-radius: 10px;
        box-shadow: 0px 0px 5px 5px #BFBFBF;
    }
}

@media only screen and (max-width: 400px) and (min-width: 350px) {
    .controls {
        width: 65vw;
        height: 8vh;
        background: #BFBFBF;
        border-radius: 7px;
        border: 1px solid #BFBFBF;
    }
    .login__content {
        position: relative;
        width: 80vw;
        height: 75vh;
        padding: 30px;
        margin: auto;
        margin-top: 4.8vh;
        border-radius: 10px;
        box-shadow: 0px 0px 5px 5px #BFBFBF;
    }
}

@media only screen and (max-width: 350px) {
    .controls {
        width: 70vw;
        height: 8vh;
        background: #BFBFBF;
        border-radius: 7px;
        border: 1px solid #BFBFBF;
    }
    .login__content {
        position: relative;
        width: 85vw;
        height: 75vh;
        padding: 30px;
        margin: auto;
        margin-top: 4.8vh;
        border-radius: 10px;
        box-shadow: 0px 0px 5px 5px #BFBFBF;
    }
}