<div class="content">
    <a type="button" class="btn btn-success" routerLink="/rol-add">Ingresar un nuevo Rol</a>
</div>
<div class="content" >
    <table class="table table-hover">
        <thead>
          <tr>
           
            <th scope="col">Nombre</th>
            <th scope="col">Rol</th>
            <th scope="col">Descripcion</th>
<th scope="col">Elimnar</th>
<th scope="col">Actualizar</th>
          </tr>
        </thead>
        <tbody *ngFor="let rol of roles">
            <tr>
               
                <td>{{rol.nombre}}</td>
                <td>{{rol.rol}}</td>
                <td>{{rol.descripcion}}</td>
                <td><button type="button" class="btn btn-danger" (click)="deleteRol(rol.id)" >Eliminar</button></td>
                <td><button type="button" class="btn btn-dark" [routerLink]="['/rol-edit/',rol.id]"> Actualizar Rol</button></td>
              </tr>
          </tbody>
      </table> 
</div>
