
.card__word--header{
    font-size: smaller;
    font-weight: 900;
}
.card__word--row{
    font-size: small;
    font-weight: 400;
   
}
.boton__dere{
    justify-content: flex-end;
   
}
.tittle__izq{
    justify-content: flex-start;
}
.header{
    display: flex;
    align-items: center;
    align-items: space-;

}