<!-- <div class="content">
    <a type="button" class="btn btn-success" routerLink="/user-add">Ingresar un Usuario</a>
</div>
<div class="content" >
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Cedula</th>
            <th scope="col">Direccion</th>
            <th scope="col">Email</th>
            <th scope="col">Estado</th>
            <th scope="col">Fecha de Nacimiento</th>
            <th scope="col">Password</th>
            <th scope="col">Telefono</th>
            <th scope="col">Estado Civil</th>
            <th scope="col">Genero</th>

            <th scope="col">Opciones</th> -->
            <!-- <th scope="col">Actualizar</th> -->
          <!-- </tr>
        </thead>
        <tbody *ngFor="let usuario of usuarios">
            <tr>
                <td>{{usuario.idUsuario}}</td>
                <td>{{usuario.nombre}}</td>
                <td>{{usuario.apellido}}</td>
                <td>{{usuario.cedula}}</td>
                <td>{{usuario.direccion}}</td>
                <td>{{usuario.email}}</td>
                <td>{{usuario.estado}}</td>
                <td>{{usuario.fechanacimiento}}</td>
                <td>{{usuario.password}}</td>
                <td>{{usuario.telefono}}</td>
                <td>{{usuario.estadocivil.nombre}}</td>
                <td>{{usuario.genero.nombre}}</td>
            
                <td><button pButton pRipple icon="pi pi-trash" 
                  class="p-button-rounded p-button-warning"             
                  
                   (click)="deleteUsuarios(usuario.idUsuario)" ></button>
                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"  [routerLink]="['/user-edit/',usuario.idUsuario]"></button></td>
              </tr>
          </tbody>
      </table> 
</div>
 -->

<div class="card">
    <div class="header">
        
            <div class="tittle__izq p-d-inline-flex p-ai-center">
                <i class="pi pi-user p-mr-2">
                </i>
                <b>Lista de Usuarios </b> 
            </div>      
          
            <button pButton align="rigth"  type="button" class="boton__dere  p-button-rounded p-button-sm" routerLink="/admin/user-add">Nuevo</button>

    </div>
            

    <p-table #dt2 [value]="usuarios" [responsive]="true" selectionMode="single" [(selection)]="selectedusuarios" dataKey="id" styleClass="p-datatable-responsive"
        [rows]="10" [paginator]="true" stateStorage="local" stateKey="statedemo-local">
        <ng-template pTemplate="header">
            <tr>
                <th class="card__word--header" >Nombre         
                </th>
                <th class="card__word--header">Apellido
                </th>
                <th class="card__word--header">C&eacute;dula
                </th>
                <th class="card__word--header">Correo
                </th>
                <th class="card__word--header">Estado
                </th>
                <th class="card__word--header">Estado Civil
                </th>
                <th class="card__word--header">Genero
                </th>
                <th class="card__word--header">Opciones
                </th>
                
            </tr>
      
        </ng-template>
        <ng-template pTemplate="body" let-usuarios>
            <tr [pSelectableRow]="usuarios">
                <td class="card__word--row">
                    <span class="p-column-title">Nombre</span>
                    {{usuarios.nombre}}
                </td>
                <td class="card__word--row">
                    <span class="p-column-title">Apellio</span>
                    {{usuarios.apellido}}
                </td>
                <td class="card__word--row">
                    <span class="p-column-title">C&eacute;dula</span>
                    {{usuarios.cedula}}
                </td >
                <td class="card__word--row">
                  <span class="p-column-title">Correo</span>
                  {{usuarios.email}}
                </td>
                <td class="card__word--row">
                  <span class="p-column-title">Estado</span>
                  {{usuarios.estado}}
                </td>
                <td class="card__word--row">
                  <span class="p-column-title">Estado Civil</span>
                  {{usuarios.estadocivil.nombre}}
                </td>
                <td class="card__word--row">
                  <span class="p-column-title">Genero</span>
                  {{usuarios.genero.nombre}}
                </td>
                <td>
                    <button pButton pRipple icon="pi pi-trash" 
                  class="p-button-rounded p-button-warning"             
                   (click)="deleteUsuarios(usuarios.idUsuario)" ></button>
                   <br>
                   <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"  [routerLink]="['/admin/user-edit/',usuarios.idUsuario]"></button>
                </td>


            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="4">No encontro Usuarios</td>
            </tr>
        </ng-template>
    </p-table>
</div>





