<div>
    <button (click)="getFindInventario()">Find Inventario</button>
</div>
<div>
    <button (click)="getFindInventarioPuntoVenta()">Find inventario punto de venta 14</button>
</div>
<div>
    <button (click)="getFindMin()">Find inventario Minimo</button>
</div>
<div>
    <input type="text" (input)="findParametros($event.target.value)">
</div>
<div class="content">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Código Pro</th>
                <th scope="col">Id Punto ven</th>
                <th scope="col">Detalle</th>
                <th scope="col">Categoria</th>
                <th scope="col">Diseño</th>
                <th scope="col">Talla</th>
                <th scope="col">P. Unit</th>
                <th scope="col">P. May</th>
                <th scope="col">P. Dis</th>
                <th scope="col">Cant</th>
                <th scope="col">S. Max</th>
                <th scope="col">S. Min</th>
                

            </tr>
        </thead>
        <tbody *ngFor="let stocks  of stock">
            <tr>
                <td>{{stocks.catProducto.codProducto}}</td>
                <td>{{stocks.catPuntosVenta.nombreLocal}}</td>


                <td>{{stocks.catProducto.catCategoria.nombreCategoria}}</td>
                <td>{{stocks.catProducto.catCategoria.nombreCategoria}}</td>
                <td>{{stocks.catProducto.catDiseno.nombre}}</td>
                <td>{{stocks.catProducto.catTalla.medida}}</td>

                <td>{{stocks.precioUnit}}</td>
                <td>{{stocks.precioMayor}}</td>
                <td>{{stocks.precioDistribuidor}}</td>
                <td>{{stocks.cantidad}}</td>
                <td>{{stocks.stockMax}}</td>
                <td>{{stocks.stockMin}}</td>
                <!-- <td><button type="button" class="btn btn-danger" (click)="deleteProductos(productos.idProductos)">Dar de baja</button></td> -->



            </tr>
        </tbody>
    </table>
</div>
